extends layout.pug

block content
    .container
        .row.mb-4.my-3
            .col-3
                .btn-group(role='group' aria-label='Basic radio toggle button group')
                    input#btnradio1trend.btn-check(type='radio' name='btnradiotrend' autocomplete='off' checked='')
                    label.btn.btn-outline-primary(for='btnradio1trend') Today
                    input#btnradio2trend.btn-check(type='radio' name='btnradiotrend' autocomplete='off')
                    label.btn.btn-outline-primary(for='btnradio2trend') Last Week 
                    input#btnradio3trend.btn-check(type='radio' name='btnradiotrend' autocomplete='off')
                    label.btn.btn-outline-primary(for='btnradio3trend') Last Month
            .col-3
                .btn-group(role='group' aria-label='Basic radio toggle button group')
                    input#btnradio1trendcountry.btn-check(type='radio' name='btnradiotrendCountry' autocomplete='off' checked='')
                    label.btn.btn-outline-danger(for='btnradio1trendcountry') Turkey
                    input#btnradio2trendcountry.btn-check(type='radio' name='btnradiotrendCountry' autocomplete='off')
                    label.btn.btn-outline-primary(for='btnradio2trendcountry') USA
            .col-3.my-2
                .progress
                    .progress-bar.bg-primary.fs-5(role='progressbar' style='width: 33%' aria-valuenow='33' aria-valuemin='0' aria-valuemax='100') +
                    .progress-bar.bg-danger.fs-5(role='progressbar' style='width: 33%' aria-valuenow='33' aria-valuemin='0' aria-valuemax='100') -
                    .progress-bar.bg-secondary.fs-5(role='progressbar' style='width: 34%' aria-valuenow='34' aria-valuemin='0' aria-valuemax='100') =
            .col-3
        .row
            .col
                table.table.trends
                    thead
                        tr
                            th.col-1(scope='col') #
                            th.col-3(scope='col') Trend
                            th.text-center.col-7(scope='col') Trend Analysis
                            th.col-1.text-center(scope='col') Tweet Count
                    tbody.trends
                        each trend, index in trends
                            tr
                                th.col-1(scope='row') #{index+1}
                                td
                                    - var trendNameLink = trend.name.startsWith('#') ? ("%23" + trend.name.slice(1)) : trend.name
                                    a(href= "/trend/" + trendNameLink) #{trend.name}
                                td 
                                    - var posPercent = (trend.pos_result *100 / (trend.pos_result+trend.neg_result+trend.neu_result))
                                    - var negPercent = (trend.neg_result *100 / (trend.pos_result+trend.neg_result+trend.neu_result))
                                    - var neuPercent = (trend.neu_result *100 / (trend.pos_result+trend.neg_result+trend.neu_result))
                                    .progress.fs-7
                                        .progress-bar.bg-primary(role='progressbar' style=`width: ${posPercent}%` aria-valuenow=`${posPercent}` aria-valuemin='0' aria-valuemax='100') #{posPercent.toFixed(2)} %
                                        .progress-bar.bg-danger(role='progressbar' style=`width: ${negPercent}%` aria-valuenow=`${negPercent}` aria-valuemin='0' aria-valuemax='100') #{negPercent.toFixed(2)} %
                                        .progress-bar.bg-secondary(role='progressbar' style=`width: ${neuPercent}%` aria-valuenow=`${neuPercent}` aria-valuemin='0' aria-valuemax='100') #{neuPercent.toFixed(2)} %
                                td.text-center #{trend.tweet_volume == null ? "< 10000" : trend.tweet_volume}
        .row.my-4
            .col-3
                .btn-group(role='group' aria-label='Basic radio toggle button group')
                    input#btnradio1tweet.btn-check(type='radio' name='btnradiotweet' autocomplete='off' checked='')
                    label.btn.btn-outline-primary(for='btnradio1tweet') Today
                    input#btnradio2tweet.btn-check(type='radio' name='btnradiotweet' autocomplete='off')
                    label.btn.btn-outline-primary(for='btnradio2tweet') Last Week 
                    input#btnradio3tweet.btn-check(type='radio' name='btnradiotweet' autocomplete='off')
                    label.btn.btn-outline-primary(for='btnradio3tweet') Last Month
            .col-3
                 .btn-group(role='group' aria-label='Basic radio toggle button group')
                    input#btnradio1tweetcountry.btn-check(type='radio' name='btnradiotweetCountry' autocomplete='off' checked='')
                    label.btn.btn-outline-danger(for='btnradio1tweetcountry') Turkey
                    input#btnradio2tweetcountry.btn-check(type='radio' name='btnradiotweetCountry' autocomplete='off')
                    label.btn.btn-outline-primary(for='btnradio2tweetcountry') USA
        .row.my-4
            .col(style="height:29em; overflow-y:scroll;")
                table.table.tweets
                    thead
                        tr
                            th.col-1(scope='col') #
                            th.col-9(scope='col') Popular Tweet
                            th.col-1.text-center(scope='col') Trend
                            th.col-1.text-center(scope='col') Favorite Count
                    tbody.tweets
                        each tweet, index in tweets
                            tr
                                th(scope='row') #{index+1}
                                td #{tweet.full_text}
                                td.text-center 
                                    - var tweettrendNameLink = tweet.trend_name.startsWith('#') ? ("%23" + tweet.trend_name.slice(1)) : tweet.trend_name
                                    a(href= "/trend/" + tweettrendNameLink) #{tweet.trend_name}
                                td.text-center #{tweet.favorite_count == null ? "0" : tweet.favorite_count}
