extends layout.pug

block content
    - var Trend = trend
    .container
        .row.text-center.mb-5
            h1 #{trend.name}
        .row
            .col
                .row.mb-5 
                    .card.border-3.bg-info
                        .card-body
                            h5.card-title Most Positive Tweet
                            p.card-text #{mostPos}
                .row
                    .card.border-3.bg-danger.text-light
                        .card-body
                            h5.card-title Most Negative Tweet
                            p.card-text #{mostNeg}
            .col
                .row.text-center
                    - var tweet_volume = trend.tweet_volume || 10000;
                    h5 Tweet Volume: #{tweet_volume}
                    - var country = trend.lang === "tr" ? "Turkey" : "USA"
                    h5 Country: #{country}
                .row.mb-5.text-center
                    canvas#myChart(style='width:100%; max-width:600px')

                script.
                    const trend = !{JSON.stringify(trend)};
                    var xValues = ["Negative", "Neutral", "Positive"];
                    var operand = trend.tweet_volume == null ? 9876 : trend.tweet_volume;
                    var allTweets = trend.neg_result + trend.pos_result + trend.neu_result;
                    var yValues = [((trend.neg_result * operand) / allTweets).toFixed(0), ((trend.neu_result * operand) / allTweets).toFixed(0),((trend.pos_result * operand) / allTweets).toFixed(0)];
                    var barColors = [
                        "#F93535",
                        "#C0C0C0",
                        "#3DD6F5"
                    ];
                    new Chart("myChart", {
                        type: "pie",
                        data: {
                            labels: xValues,
                            datasets: [{
                                backgroundColor: barColors,
                                data: yValues
                            }]
                        },
                        options: {
                            title: {
                                display: true,
                                text: `${trend.name} Analysis`
                            }
                        }
                    });
